<div class="fields potentially-hidden" style="background-color: #ffffe0; padding: 20px; margin: 20px;">
  <%= f.input :name, :label => 'Avdelingsnavn' %>
  <%= f.input :_destroy, :as => :hidden %>
  <%= link_to "Fjern avdeling", "#", :class => "remove-child" %>



  <p><%= link_to_add_fields "Legg til barn", f, :children %></p>

  <div class="holder">
    <%= f.simple_fields_for :children do |builder| %>
      <%= render :partial => 'child_fields', :locals => {:f => builder} %>
    <% end %>
  </div>
</div>