<div class="fields potentially-hidden" style="background-color: #ffffe0; padding: 20px; margin: 20px;">
  <span style="float: right;"><i class="icon-remove remove-child" title="Slett avdeling" style="cursor: pointer"></i></span>
  <p>Avdelingen</p>
  <%= f.input :name, :label => 'Avdelingsnavn' %>
  <%= f.input :_destroy, :as => :hidden %>


  <div class="holder">
    <%= f.simple_fields_for :children do |builder| %>
      <%= render :partial => 'child_fields', :locals => {:f => builder} %>
    <% end %>
  </div>
  <div class="btn btn-primary btn-mini"><%= link_to_add_fields "Legg til barn", f, :children %></div>
</div>