<%= simple_form_for @kindergarten, :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
    <legend><%= controller.action_name.present? && controller.action_name == 'new' ? 'Ny ' : 'Endre ' %>barnehage
    </legend>

    <%= f.input :name, :label => 'Navn' %>
    <%= f.input :email, :label => 'E-post' %>
    <%= f.input :phone, :label => 'Telefon' %>


    <div class="btn btn-primary btn-mini" style="margin-left: 20px;"><%= link_to_add_fields "Legg til avdeling", f, :departments %></div>

    <div class="holder">
      <%= f.simple_fields_for :departments do |builder| %>
        <%= render :partial => 'department_fields', :locals => {:f => builder} %>
      <% end %>
    </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Avbryt', kindergartens_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
