<h1>Barnehage</h1>

<%= show_for @kindergarten do |u| %>
  <%= u.attribute :name %>
  <%= u.attribute :email %>
  <%= u.attribute :phone %>
  <%= u.association :departments %>
<% end %>

<div class="form-actions">
  <%= link_to 'Tilbake', kindergartens_path, :class => 'btn'  %>
  <%= link_to 'Endre', edit_kindergarten_path(@kindergarten), :class => 'btn' %>
  <%= link_to 'Slett', kindergarten_path(@kindergarten), :method => 'delete', :confirm => 'Er du sikker?', :class => 'btn btn-danger' %>
</div>
