<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kindergarten.name %>
</p>

<p>
  <b>Email:</b>
  <%= @kindergarten.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @kindergarten.phone %>
</p>


<%= link_to 'Endre', edit_kindergarten_path(@kindergarten) %> |
<%= link_to 'Tilbake', kindergartens_path %>
