<p id="notice"><%= notice %></p>

<%= show_for @kindergarten do |u| %>
  <%= u.attribute :name %>
  <%= u.attribute :email %>
  <%= u.attribute :phone %>

  <%= u.association :departments %>
<% end %>


<%= link_to 'Endre', edit_kindergarten_path(@kindergarten) %> |
<%= link_to 'Tilbake', kindergartens_path %>
