<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Barnehager' %></title>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>

<body>
<div class="container">
  <%= render :partial => 'common/menu' %>
</div>

<div class="container">
  <div class="content">


    <div class="row">
      <div class="span12">

        <%= render :partial => 'common/flashes' %>

        <%= yield %>
      </div>
    </div>

    <footer>
      <%= render :partial => 'common/footer' %>
    </footer>
  </div>
</div>

</body>
</html>